/* * {
    color: green;
} */

/* 속성 선택자 */
/* div 중에 name 속성을 가지고 있는 태그 선택 */
div[name] {
    color: slateblue;
}

/* div 중에 name 값이 name1과 일치하는 태그 선택 */
div[name = name1]{
    color: red;
}

/* div 중에 name 속성 안에 name1이 포함되어있는 태그 선택 (단, 속성 값은 띄어쓰기로 구분)*/
div[name ~= name1]{
    background-color: beige;
}

/* div 중에 class 속성 안에 class가 포함되어 있는 태그 선택 (단, 속성 값은 -로 구분)*/
div[class |= class]{
    color: orange;
}

/* div 중에 name 속성이 name으로 시작되는 태그 선택*/
div[name ^= name]{
    color: goldenrod;
}

/* div 중에 class 속성이 class로 끝나는 태그 선택 */
div[class $= class]{
    background-color: bisque;
}

/* div 중에 class 속성 중에 i를 포함하는 태그 선택 */
div[class *= i]{
    color: mediumseagreen;
}

/* 클래스가 div-class인 것 중 name 속성값에 name3이 포함되어 있는 태그 선택 (단, 속성값이 띄어쓰기로 구분) */
.div-class[name ~= name3]{
/* .div-class[name ~= "name3 name1"]{ */
    background-color: pink;
}

/* 자식 선택자와 후손(하위) 선택자 */
#test1>h4{
    color: red;
}

#test1>ul>h4{
    color: orange;
}

#test1>ul>li{
    color: gold;
}

#test1>li{
    color: green;
}

#test1 li{
    background-color: lightcyan;
}

/* 7.동위 선택자 */
#div-test{
    background-color: lightcoral;
}

/* div는 body라는 공통조상을 가지고 있다. */
/* 바로 뒤에 있는 요소 하나만 선택되었다. */
#div-test+div{
    background-color: lightsalmon;
}

/* #div-test~div{
    background-color: lightgoldenrodyellow;
} */

/* 반응 선택자 */
#active-test, #hover-test{
    background-color: lavender;
    width: 200px;
    height: 200px;
}

/* 클릭시 변경됨 */
#active-test:active{
    background-color: lightpink;
}

/* 마우스를 올려놓으면 변경됨 */
#hover-test:hover{
    background-color: lightseagreen;
}

/* 마우스를 올려놓으면 변경됨 */
#userId:focus{
    border: 4px solid royalblue;
    background-color:thistle;
}

/* 체크박스 선택시 체크박스가 변경됨 */
input[type=checkbox]:checked{
    width: 30px;
    height: 30px;
}

/* input태그 checkbox속성의 레이블요소의 글자크기를 키운다. */
input[type=checkbox]+label{
    font-size: 20px;
}

/* 체크박스 선택시 글자크기가 변경됨. */
input[type=checkbox]:checked+label{
    font-size: 40px;
}

/* 버튼 중에 활성화 되어있는 것만 찾아서 색깔을 바꿔준다. */
button:enabled {
    background-color: lightskyblue;
}

/* 버튼 중에 비활성화 되어있는 것만 찾아서 색깔을 바꿔준다. */
button:disabled {
    color: lightpink;
}

option:enabled{
    background-color: palevioletred;
}

option:disabled{
    background-color: royalblue;
}

/* 구조 선택자 */
/* 형제 관계 태그 중 첫 번째 태그 선택 */
#test2 p:first-child {
    background-color: lightgreen;
    color: darkgreen;
}

/* 형제 관계 태그 중 마지막 태그 선택 */
/* 마지막에 p태그가 아니여서 스타일이 적용되지 않는다. */
/* 스타일이 적용되려면 위치와 태그가 전부 맞아야 된다. */
#test2 p:last-child {
    background-color: orange;
    color: whitesmoke;
}

/* 형제 관계 태그 중 앞에서 수열 번째 태그 선택 */
/* ()안에 2~ 5까지 가능 */
/* 혹은 수식 사용 가능 (2n 짝수)(2n-1 홀수) */
/* odd(홀수) even(짝수) */
#test2 p:nth-child(even){
    background-color: yellowgreen;
    color: white;
}

/* 형제 관계 태그 중 뒤에서 수열 번째 태그 선택 */
#test2 p:nth-last-child(4){
    background-color: skyblue;
    color: white;
}

/* 형제 관계 태그 중 첫 번째 태그 선택 */
#test3 p:first-of-type {
    background-color: palevioletred;
    color: white;
}

/* 형제 관계 태그 중 마지막 태그 선택 */
/* p태그 중에 마지막 요소를 선택한다. */
#test3 p:last-of-type {
    background-color: silver;
    color: white;
}

/* 형제 관계 태그 중 앞에서 수열 번째 태그 선택 */
#test3 p:nth-of-type(2n) {
    background-color: slateblue;
    color: white;
}

/* 형제 관계 태그 중 뒤에서 수열 번째 태그 선택 */
#test3 p:nth-last-of-type(4) {
    background-color: seagreen;
    color: white;
}

/* 문자 선택자 */
/* 첫 번째 글자를 선택해서 스타일 적용 */
#test4 p::first-letter{
    font-size: 2em;
}

/* 첫 번째 라인을 선택해서 스타일 적용 */
#test4 p::first-line{
    background-color: seagreen;
    color: wheat;
}

/* 요소 내용 앞에 위치하는 공간을 선택  */
#test4 p::before{
    content: '1.';
}

/* 요소 내용 뒤에 위치하는 공간을 선택  */
#test4 p::after{
    content: '-End';
    font-size: 2em;
}

/* 사용자가 드래그한 글자 스타일 변경 */
#test4 p::selection{
    background-color: lightpink;
    color: lightseagreen;
}

/* 부정 선택자 */
/* p타입 중에 클래스 p 가 아닌것만 선택 */
#test5 p:not(.p){
    background-color: beige;
    color: palevioletred;
}

/* 홀 수인 것만 선택 */
/* not 안에 가상선택자도 가능하다 */
#test5 p:not(:nth-child(odd)){
    background-color: peachpuff;
    color: skyblue;
}










