/* color */
#c-name{
    color: red;
}

#c-16{
    color: #f75bf7;
    /* color: #f0f; */
}

#c-rgb{
    /* color: rgb(red, green, blue); */
    color: rgb(255, 255, 0);
}

#c-rgba{
    /* color: rgba(red, green, blue, alpha); */
    color: rgba(255,0,0,.3);
}   

/* text-decoration */
#td1{
    text-decoration: underline;
}

#td2{
    text-decoration: line-through;
}

#td3{
    text-decoration: overline;
}

#td4{
    text-decoration: none;
}

/* text-transform */
#tt1{
    text-transform: capitalize;
}

#tt2{
    text-transform: uppercase;
}

#tt3{
    text-transform: lowercase;
}

/* text-shadow */
#bg{
    background-color: black;
    width: 200px; 
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#ts{
    color: red;
    font-size: 50px;
    text-shadow: -7px 5px 5px blue,
                -10px 7px 7px orange;
}

/* white-space */
#ws{
    border: 1px solid;
    width: 200px;
    /* white-space: nomal; */
    /* white-space: nowrap; */
    /* white-space: pre; */
    /* white-space: pre-line; */
    white-space: pre-wrap;
}

/* letter-spacing */
#ls{
    letter-spacing: 5px;
}


/* word-spacing */
#wsp{
    word-spacing: 10px;
}























