/* 테두리 스타일 */
.border{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border: 10px solid;
}

#border1{
    border-style: none;
}

#border2{
    border-style: hidden;
    /* 수평거리 수직거리 흐림정도 번짐정도 */
    box-shadow: 0px 0px 20px 10px rosybrown ;
}

#border3{
    border-style: dashed;
    border-color: red orange gold green;
}

#border4{
    border-style: dotted;
    border-top-color: palevioletred;
    border-bottom-color: skyblue;
    border-left-color: yellowgreen;
    border-right-color: sandybrown;
}

#border5{
    border-style: double;
    border-color: mediumseagreen;
    border-radius: 10px;
}

#border6{
    border-style: groove;
    border-width: 20px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-color: lightsteelblue;
}

#border7{
    border-style: ridge;
}

#border8{
    border-style: inset;
}

#border9{
    border-style: outset;
}

#border10{
    border-style: solid;
    border-bottom-width: 40px;
}
